<div class="container">
    <div class="div">
        <table>
            <tr>
              <td class="blank"></td>
              <th *ngFor="let col of columns">{{ col }}</th>
            </tr>
            <tr *ngFor="let row of data; let i = index">
              <th>{{ rows[i] }}</th>
              <td *ngFor="let cell of row; let j = index" [style.background-color]="visited[i][j] ? (cell === 0 ? '#808080' : '#ffffff') : '#000000'">
                <span>
                  {{ letras[i][j] }}
                </span>
              </td>
            </tr>
        </table>
    </div>
</div>