td, tr {
    min-width: 30px;
    height: 30px;
}

td:not(.blank) {
    border: 2px solid black;
}

.div {
    background-color: #ffffff;
    padding: 10px 25px 25px 10px;
    width: fit-content;
    border-radius: 5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'segoe ui';
}

span {
    text-align: center;
    display: inline-block;
    width: 100%;
}