<div class="container">
  <app-tabla></app-tabla>
  <div class="botones">
    <app-boton [texto]="'Establecer punto de inicio'"></app-boton>
    <app-boton [texto]="'Establecer punto de fin'"></app-boton>
    <app-boton [texto]="'Cambiar valor de celda'"></app-boton>
    <app-boton [texto]="'Preguntar por el tipo de terreno'"></app-boton>
    <div class="div-terreno">
      <app-mensaje
        [mensajeTerreno]="mensajeTerreno"
        [class.hidden]="mensajeTerreno == ''"
      ></app-mensaje>
    </div>
    <div *ngIf="mostrar" class="boton-iniciar">
      <app-boton [texto]="'Establecer prioridad'"></app-boton>
      <div class="div-pasos-agente">
        <app-mensaje
          [mensajeAgente]="mensajeAgente"
          [class.hidden]="mensajeAgente == ''"
        ></app-mensaje>
      </div>
      <mat-radio-group class="radio">
        <label>Selecciona cómo se generarán los nodos del árbol</label>
        <mat-radio-button value="1">Paso por paso</mat-radio-button>
        <mat-radio-button value="2">Decisión por decisión</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="radio">
        <label>Selecciona el tipo de recorrido</label>
        <mat-radio-button value="1">Por profundidad</mat-radio-button>
        <mat-radio-button value="2">Por anchura</mat-radio-button>
      </mat-radio-group>
      <app-boton-sin-input [texto]="'Iniciar'"></app-boton-sin-input>
    </div>
    <div class="juego" *ngIf="!mostrar">
      <app-boton-sin-input
        [texto]="'Control por usuario'"
      ></app-boton-sin-input>
      <app-boton-sin-input [texto]="'Control automático'"></app-boton-sin-input>
    </div>
    <div class="div-pasos-manual" *ngIf="!mostrar">
      <app-mensaje
        [mensajeManual]="mensajeManual"
        [class.hidden]="mensajeManual == ''"
      ></app-mensaje>
    </div>
  </div>
  <div class="boton-arbol">
      <button mat-fab (click)="cambiarVisibilidad()">
        <mat-icon>device_hub</mat-icon>
      </button>
  </div>
  <div class="arbol" [hidden]="mostrarArbol">
    <app-tree></app-tree>
  </div>
</div>
