<div class="arbol">
    <ngx-graph #myGraph
        [nodes]="nodes"
        [links]="links"
        [panOnZoom]="true"
        [autoZoom]="true"
        [enableZoom]="true"
        [draggingEnabled]="false"
        [layoutSettings]="layoutSettings"
        [view]="[width, height]"
    >
        <ng-template #nodeTemplate let-node>
            <svg:g>
                <svg:circle
                    [attr.r]="40"
                    [attr.fill]="node.data.color"
                    [attr.transform]="'translate(40, 65)'"
                ></svg:circle>
                <svg:text style="white-space: pre-line;" [style.font-family]="'segoe ui'" [attr.transform]="'translate(40, -30)'">
                    <tspan>{{ node.lado }}</tspan>
                </svg:text>
                <svg:text style="white-space: pre-line;" [style.font-family]="'segoe ui'" alignment-baseline="middle">
                    <tspan>{{ node.labelText }}</tspan>
                </svg:text>
            </svg:g>
        </ng-template>
    </ngx-graph>
</div>
